<div>
  <% @photos.each do |photo| %>
    <div class="<%= photo.approved ? 'approved' : 'awaiting-approval' %>">
      <%= image_tag photo.url %><br />
      <% if photo.approved %>
        <%= link_to "Remove", revoke_photo_path(photo) %>
      <% else %>
        <%= link_to "Approve", approve_photo_path(photo) %>
      <% end %>
    </div>
  <% end %>
</div>