/*
 *= require admin/spree_backend
*/

#change_active_tag input {
	width: 250px;
}

.instagram-photo {
	float: left;
	background-color: #eff5fc;
	border: 1px solid #cee1f4;
	margin: 12px;
	position: relative;
}

.instagram-photo.approved {
	background-color: #5498da;
	color: #FFFFFF;
}

.instagram-photo.approved a {
	color: #FFFFFF;
}

.instagram-photo.awaiting-approval a {
	color: #5498da;
}

.instagram-photo img {
	width: 286px;
	height: 286px;
	padding : 10px;
}

.instagram-tag {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 30px;
	display: none;
	padding: 2px 0 0 0;
}

.approved .instagram-tag {
	color: white;
	background-color: #5498da;
}

.awaiting-approval .instagram-tag {
	background-color: #eff5fc;
}

.photo-options {
	height: 20px;
}

.hidden {
	display: none;
}

.instagram-photo .approve-or-remove, .instagram-photo .undo-reject-photo {
	position: absolute;
	bottom: 8px;
	left: 10px;
}

.instagram-photo .reject-photo {
	position: absolute;
	bottom: 8px;
	right: 10px;
}

.approved .reject-photo {
	display: none;
}