/*
 *= require admin/spree_backend
*/

.instagram-photo {
	float: left;
	background-color: #eff5fc;
	border: 1px solid #cee1f4;
	margin: 12px;
}

.instagram-photo.approved {
	background-color: #5498da;
}

.instagram-photo.approved a {
	color: #FFFFFF;
}

.instagram-photo img {
	width: 286px;
	height: 286px;
	padding : 10px;
}

.instagram-photo a {
	position :relative;
	bottom: 8px;
	left: 10px;
}