/*
 *= require admin/spree_backend
*/

.instagram-photo {
	float: left;
	background-color: #ECECEC;
	margin: 13px;
}

.instagram-photo.approved {
	background-color: #5498da;
}

.instagram-photo.approved a {
	color: #FFFFFF;
}

.instagram-photo img {
	width: 286px;
	height: 286px;
	padding : 20px;
}

.instagram-photo a {
	position :relative;
	bottom: 10px;
	left: 20px;
}